@font-face {
    font-family: 'rubik';
    src: url(font/RubikOne-Regular.ttf);
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    margin-left: 5px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: inherit; 
}

.container-navbar {
    width: 100%;
    justify-content: center;
    /* margin-left: 30px;
    margin-right: 30px; */
    /* width: 1200px; */
    height: 62px;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#button-navbar{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.navbar {
    width: 97%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
   
}

.name {
   font-weight: bold;
    font-size: 1.2rem;
    font-family: 'rubik';
}

.linkedin {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    top: -5px;
    /* position: relative;
    float: right;
    top: 10px;
    left: 120px; */
    font-size: 15pt;
    background-color: #FF4C00;
    color: aliceblue;
    font-family: 'rubik';
    z-index: 2;
}

.linkedin:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.linkedin:active {
    transform: scale(0.8);
    transition: 0.5s;

}

.email {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    right: 10px;
    top: -5px;
    /* position: relative;
    float: right;
    top: 10px;
    right: 210px; */
    font-size: 15pt;
    color: #FF4C00;
    background-color: aliceblue;
    font-family: 'rubik';
    z-index: 2;
}

.email:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.email:active {
    transform: scale(0.8);
    transition: 0.5s;
    
}

/*navbar*/

#MS {
    position: relative;
    top: 50px;
    margin-left: 20px;
    font-family: 'rubik';
    color: #FF4C00;
    font-size: 60px;
}

/* Judul */

img {
    display: flex;
    justify-content: center;
    width: 1150px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 768px) {

    .container-navbar{
        height: 120px;
        justify-content: center;
    }

    img{
        width: 400px;
    }
}